.wrapper {
    font-size: 1.6rem;
    font-weight: 700;
    font-family: var(--font-family);
    min-width: 100px;
    padding: 8px 20px;
    text-align: center;
    border-radius: 4px;
    background-color: var(--white-color);
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    + .wrapper {
        margin-left: 12px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
        user-select: none;
    }
}

// Button size
.small {
    min-width: 88px;
    padding: 2px 20px;
    font-weight: 600;
}

.large {
    min-width: 140px;
    padding: 14px 20px;
}

// Button styles
.rounded {
    border-radius: 999px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
    border-color: rgba(22, 24, 35, 0.12);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.primary {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-color: var(--primary-color);

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
        border-color: var(--primary-color);
    }
}

.outline {
    color: var(--primary-color);
    border-color: currentColor;

    &:hover {
        border-color: currentColor;
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.text {
    &:hover {
        text-decoration: underline;
    }
}

.icon {
    display: inline-block;
    text-align: center;
    width: 22px;
}

.title + .icon,
.icon + .title {
    margin-left: 8px;
}
