@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

:root {
    --primary-color: #fe2c55;

    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-spacer: 24px;
    
    // Colors
    --black: #000;
    --text-color: #333;
    --white-color: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

button, input, [tabindex] {
    outline: none;
    border: none;
}

a[href] {
    display: inline-block;
    text-decoration: none;
}