.action-menu {
    width: 224px;

    .menu-item {
        display: block;
        text-align: left;
        color: var(--black);
        width: 100%;
        margin-left: 0 !important;
        border-radius: 0;

        &:hover {
            background-color: rgba(22, 24, 35, 0.05);
        }
    }

    .action-menu-wrapper {
        padding: 8px 0;
    }
}