.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: var(--default-layout-width);
    margin-top: var(--default-layout-header-height);
    height: 100%;
    display: flex;
    padding: 0 var(--default-layout-spacer);
}

.content {
    flex: 1;
}